openai
dotenv
langchain-core
langchain
langchain-community

# LangChain Open AI
langchain-openai
langchain-anthropic
langchain[google-genai]
langchain-groq
langchain_huggingface
streamlit
PyPDF2 
wikipedia
scikit-learn
pypdf   
sentence-transformers
chromadb
langchain_chroma
ddgs
langchain_experimental
openpyxl